.block {
	width:100%;
	color:cyan;
	border:1px solid wheat;
} // just for testing

// ============== 
// Media

.media {
	width:100%;
	border-bottom:1px solid $border__color--lightGray;
	overflow: hidden;
	direction: rtl;
	margin: 20px 0;
	padding-bottom: 20px;
	margin-top: 0;
}
.media--last {
	border-bottom:none;
}
.media__img {
	width:100%;
	float: right;
	img {
		width: 100%;
		float: right;
	}
}
.media__content{
	width:100%;
	float: right;
}

// ============== 
// Media Vertical
						

.media__vertical {
	.media__content{
		padding-right:15%;
	}
}

// ============== 
// Media Horizontal

.media--large.media__horizontal {
	.media__img{
		width:50%;
	}
	.media__content{
		width:50%;
		padding-right: 4%;
		h2 {
			margin-bottom: 25px;
		}
		p {
			line-height: 22px;
			margin-bottom: 20px;
			color: $text__color--lightGray;
			font-family: $text__family--NashkRegular;
			font-size: 20px;
		}
	}
}
.media__horizontal {
	.media__img{
		width:35%;
	}
	.media__content{
		width:65%;
		padding-right: 4%;
		text-align: right;
	}
}
.add {
	width:100%;
	padding:5%;
	background: #333;
	img {
		width: 100%;
	}
}
.fullWidth__baner {
	width:100%;
	float:left;
	img {
		width: 100%;
	}
}

// ============== 
// Brand Box

.brand-box {
	width:100%;
	padding:4%;
}
.brand-box--dark {
	background: $color__primary--megaDarkGray;
}
.brand-box__text {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.5vw;
}
.brand-box__item {
	margin-bottom: 30px;
	img {
		width: 100%;
	}
}

// ============== 
// Link Box

.link-box {
	width:100%;
	padding:4%;
	background: $color__primary--gray;
	.list__item {
		border-bottom:1px solid $border__color--darkGray;
		text-align: right;
		padding: 13px 0 5px;
		font-size: 17px;
		color:$text__color--lightGray;
		height: 42px;
	}
}
.link-box__header {

}
.list__item--last {
	border-bottom:none;
}

// ============== 
// Contact Us

.contact-us {
	width:100%;
	text-align:center;
	background: $color__primary--megaDarkGray;
	float: left;
	color:$text__color--white;
}
.contact-us__header {
	margin-top: 30px;
	font-size:1.6vw;
	color:$text__color--white;
}
.contact-us__input-wrapper {
	width: 44%;
	margin: 20px auto;
	background: #fff;
	height: 50px;
	margin-bottom:50px;
}

// ============== 
// Footer Media

.footer-media {
	float:left;
	width:33.33%;
}
.footer-media__item {
	img {
		width: 100%;
	}
}
.footer__left .footer-media {
	padding-right:3%;
}
.footer__right .footer-media {
	padding-left:3%;
}
.footer__heading {
	width:100%;
	text-align:center;
	font-size:1.5vw;
	margin-top:60px;
}
.footer__heading--small {
	text-align:center;
	margin-bottom:20px;
}
.footer-media__heading, .footer-media__text {
	text-align:center;
}

// ============== 
// Footer Articles & Tags

.footer-articles, .footer-tags {
	width: 100%;
	float: right;
	margin-top: 40px;
}
.footer-tags {
	margin-bottom:30px;
}
.footer-articles__item {
	display: inline-block;
	margin-left: 25px;
	margin-bottom: 20px;
	position: relative;
}
.footer-articles__item:before {
	content: "-";
	position: absolute;
	left: -12px;
}
.footer-tags__item {
	display:inline-block;
	padding:5px 10px;
	border:1px solid $color__primary--gold;
	margin-left:20px;
}
.category {
	padding: 15px 0;
	color:$text__color--gold;
}

// ============== 
// Footer Copyright

.footer--end {
	padding-top: 20px;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom:100px;
	border-top:1px solid $border__color--lightGray;
	.social, {
		float: left;
	}
	.footer__logo {
		float: right;
	}
	.copyright {
		position:absolute;
		width: 500px;
		left: calc((100% - 500px) / 2);
		text-align: center;
		top: 34px;
	}

}



/*=============================*\
	Media queries
\*=============================*/