.box {
	width:100%;
	float:left;
	padding: 30px 0;
	border-bottom: 1px solid $color__primary--gray;
	.author {
		color:$text__color--gold;
		padding: 20px 0;
		display: block;
	    font-weight: bold;
	    font-size: 1.2vw;
	}
	img {
		width: 100%;
	}
	video {
		width: 100%;
	}
}
.box__text {
	float: left;
	margin-top: 30px;
	font-size: 1vw;
	color:$text__color--darkGray;
	font-family:$text__family--NashkRegular;
	width:100%;
	line-height: 25px;
	@include breakpoint(mobile){
		padding: 5%;
	   font-size: 18px;
	   line-height: 20px;
	}
}
.box__headline {
	color: $color__primary--gold;
	text-align:center;
	width:100%;
	float:left;
	margin-top: 30px;
	text-decoration: underline;
	font-size: 20px;
}
.box__links {
	margin-top:20px;
	float:left;
	line-height:24px;
	@include breakpoint(mobile){
		padding: 5%;
	}
}
.box__link {
	color:$color__primary--gold;
	display:inline;
	margin-left: 25px;
	margin-top:30px;
}

