.carousel {
	width:100%;
	background: $color__primary--megaDarkGray;
	overflow:hidden;
	margin-bottom: 20px;
	.category {
		width: 100%;
		float: right;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}
.carousel__wrap {
	overflow:hidden;
}
.carousel__heading {
	text-align:right;
	color:$text__color--white;
	padding:20px 0;
}
.carousel__media {
	float:right;
	width:25%;
	padding-right: 3%;
}
.carousel__media--first {
	width:50%;
	padding-right:0;
}
.carousel__item {
	float:right;
	width:100%;
	img {
		width: 100%;
		float: right;
	}
}
.carousel__text {
	color:$text__color--smoke;
	float:right;
	margin-bottom: 25px;
}
.carousel__bullets{
	float: left;
	width: 100%;
	text-align: center;
	direction: ltr;
	display:none;
}
.carousel__bullet {
	width: 16px;
	margin: 6px;
	height: 16px;
	@include borderRadius(50%);
	display: inline-block;
	background: $color__primary--darkGray;
	&.active {
		background: $color__primary--gold;
	}
}

// ============== 
// Gallery

.gallery__item {
	width:50%;
	float:right;
}
.gallery {
	padding-bottom: 20px;
	overflow: hidden;
	.media__horizontal {
		margin-right: 15%;
		.media__content {
			padding-right:3%;
		}
	}
	.media__vertical .line {
		@extend .line--right;
	}
	h2 {
		color:$text__color--smoke;
		font-size: 22px;
	}
	.media__content {
		padding-right:16%;
	}
}

/*=============================*\
	Media queries
\*=============================*/

@media screen and (max-width: 1024px) { 
	.carousel {
		width: 90%;
		margin:5%;
		.section__heading {
			text-align: center;
		}
		.link--left {
			display: none;
		}
	}
	.carousel__wrap {
		overflow: hidden;
		width: 5000%;
		float: left;
		position: relative;
		left: 0;
	}
	.carousel__media {
		width: 90vw;
		float: left;
		padding:0;
	}
	.carousel__bullets {
		display: block;
	}
	.gallery {
		padding:5%;
		padding-top:0;
		.media {
			margin:0;
			width: 100%;
		}
		.media__img {
			width: 100%;
		}
		.media__content {
			width: 100%;
		}
		.link--left {
			display: none;
		}
	}
	.gallery__item {
		width: 90vw;
		float: left;
		margin-right: 5vw;
		max-height: 100vw;
	}
}