.comments {
	text-align:right;
	color:$text__color--darkGray;
	 font-size: 1vw;
}
.comment {
	padding-bottom: 30px;
	border-bottom: 1px solid $color__primary--lightgray;
}
.comment__heading {
		font-size: 24px;
		margin-bottom: 13px;
		@include breakpoint(mobile){
			margin-top: 10px;
		}
}
.comment__author {
	color:$text__color--gold;
	font-size: 1.1vw;
    margin-bottom: 20px;
	&:before {
		content:" ";
		width: 20px;
		height: 20px;
		background-image:url("cykaBlyat");
		background-repeat:no-repeat;
		background-position:center;

	}
}
.comment__text, .comment__heading, .comment__author {
	@include breakpoint(mobile){
		padding:1% 5%;
		font-size: 17px !important;
	}
}
.post-comment {
	.input__wrapper {
		width: 88%;
	}
	@include breakpoint(mobile){
		width: 100%;
		padding-left: 11%;
		.input__wrapper {
			width: 78%;
		}
	}
}
.post-comment__button {
	line-height: 50px;
	text-align: center;
	width: 93px;
	float: right;
	margin-top: 20px;
	background: $color__primary--gold;
	color:$text__color--white;
}
.comment__text {
	font-family:$text__family--NashkRegular;
	line-height: 28px;
}
.name {
	padding: 20px;
	font-size:24px;
	padding-right: 0;
	@include breakpoint(mobile){
		padding-right:20px;
	}
}
.name:before {
	content: "1";
	font-size: 14px;
	display: block;
	line-height: 20px;
	width: 6px;
	height: 20px;
	padding: 0px 12px;
	text-align: center;
	float: right;
	color: white;
	background: gray;
	margin-left: 18px;
	margin-top: 6px;
	@include borderRadius(100px);
	text-align:center;
	color:white;
	background: gray;
	font-family:$text__family--Serif;
}

// ============== 
// Contact Us

.contact-us {
	width:100%;
	text-align:center;
	background: $color__primary--megaDarkGray;
	float: left;
	color:$text__color--white;
}
.contact-us__header {
	margin-top: 50px;
	font-size:1.6vw;
	color:$text__color--white;
	@include breakpoint(mobile){
		font-size: 24px;
		margin-top: 33px;
	}
}
.contact-us__input-wrapper {
	width: 51%;
	margin: 20px auto;
	background: #fff;
	height: 50px;
	margin-bottom:50px;
	@include breakpoint(mobile){
		width:96%;
	}
}
.contact-us__input {
	width: calc(100% - 200px);
	outline: none;
	border: none;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 20px;
	@include breakpoint(mobile){
		font-size: 16px;
		width: calc(100% - 133px);
	}
}
.contact-us__text {
	margin-top: 20px;
	font-size: 24px;
	font-family: $text__family--NashkRegular;
	width: 50%;
	margin-left: 15%;
	margin: 20px 25% 35px;
	line-height:27px;
	color:$text__color--white;
	@include breakpoint(mobile){
		width: 96%;
		margin-left: 2%;
		font-size: 18px;
		margin-right: 2%;
		line-height: 19px;
	}
}
.input-box {
	width:100%;
	border:1px solid $text__color--smoke;
	height:100px;
}
.input__wrapper {
	width:70%;
	float: left;
}