.media {
	width:100%;
	border-bottom:1px solid $border__color--lightGray;
	overflow: hidden;
	direction: rtl;
	margin: 30px 0;
	padding-bottom: 30px;
	margin-top: 0;
	@include breakpoint(mobile){
		margin: 8% 5%;
		width: 90%;
	}
}
.media--last {
	border-bottom:none;
}
.media__img {
	width:100%;
	float: right;
	position:relative;
	img {
		width: 100%;
		float: right;
	}
}
.media__content{
	width:100%;
	float: right;
}
.media--no-border {
	border-bottom:none;
}
.add {
	width:100%;
	img {
		width: 100%;
	}
	@include breakpoint(mobile){
		width: 100%;
		padding: 15%;
		background: black;
	}
}
.add--padding {
	padding-top:30px;
	@include breakpoint(mobile){
		padding:15%;
	}
}
