// ============== 
// Media

.media {
	width:100%;
	border-bottom:1px solid $border__color--lightGray;
	overflow: hidden;
	direction: rtl;
	margin: 30px 0;
	padding-bottom: 30px;
	margin-top: 0;
}
.media--last {
	border-bottom:none;
}
.media__img {
	width:100%;
	float: right;
	img {
		width: 100%;
		float: right;
	}
}
.media__content{
	width:100%;
	float: right;
}
.media--no-border {
	border-bottom:none;
}

// ============== 
// Media Vertical
						

.media__vertical {
	.media__content{
		padding-right:15%;
	}
}

// ============== 
// Media Horizontal

.media--large.media__horizontal {
	.media__img{
		width:50%;
	}
	.media__content{
		width:50%;
		padding-right: 4%;
		h2 {
			margin-bottom: 25px;
		}
		p {
			line-height: 22px;
			margin-bottom: 20px;
			color: $text__color--lightGray;
			font-family: $text__family--NashkRegular;
			font-size: 20px;
		}
	}
}
.media__horizontal {
	.media__img{
		width:35%;
	}
	.media__content{
		width:65%;
		padding-right: 4%;
		text-align: right;
	}
}

// ============== 
// Media Small

.media--small {
	overflow:hidden;
	margin-bottom:20px;
	.media__item {
		width: 28%;
		float: right;
		img {
			width: 100%;
			float: right;
		}
	}
	.media__content {
		width: 65%;
		padding-right:5%;
		h2 {
			font-size: 18px;
		}
	}
}
.add {
	width:100%;
	img {
		width: 100%;
	}
}
.fullWidth__baner {
	width:100%;
	position:relative;
	float:left;
	img {
		width: 100%;
	}
}
.central__box {
	width: 36%;
	position: absolute;
	left: 32%;
	height: 34%;
	bottom: -4%;
	background: #fff;
	text-align: center;
	padding-top: 22px;
	border-bottom: 1px solid $border__color--darkGray;
	.category {
		font-size: 15px;
	}
}
.main__heading {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 1.3vw;
	margin-top: 10px;
	margin-bottom: 25px;
	color:$text__color--darkGray;
}
.main__author {
	width: 264px;
	display: block;
	float: left;
	position: relative;
	left: calc((100% - 243px)/2);
	margin-bottom: 18px;
	.date {
		color:$text__color--smoke;
		padding-right:5px;
		font-size: 0.8vw;
		float: left;
		border-right:1px solid $text__color--smoke;
		padding-top: 2px;
		font-family: $text__family--Serif;
	}
	.author {
		color:$color__primary--gold;
		padding:0 8px;
		float: left;
	}
	.category {
		padding:0;
		padding-left:5px;
		color:$color__primary--gold;
		float: left;
		border-left:1px solid $text__color--smoke;
		font-size: 16px;
	}
	.img__wrapper {
		width: 20px;
		height: 20px;
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		float: left;
		margin-left: 7px;
		overflow: hidden;
		top: -1px;
		position:relative;
		img {
			width: 100%;
		}
	}
	p {
		float: left;
	}
}
.main__social-wrapper {
	float: left;
	margin-top: 0px;
	margin-bottom: 24px;
	text-align: center;
	width: 100%;
	img {
		float: none;
	}
}

/*=============================*\
	Media queries
\*=============================*/

@media screen and (max-width: 1024px) { 
	.media {
		margin: 8% 5%;
		width: 90%;
	}
	.media--small {
		padding: 2% 5%;
		margin-bottom: 0;
	}
	.media__horizontal {
		.media__img{
			width:42%;
		}
		.media__content{
			width:58%;
			padding-right: 4%;
			text-align: right;
		}
	}
	.media--large {
		margin-bottom: 0;
		padding-bottom: 14px;
	}
	.media--large.media__horizontal {
		.media__img {
	   	 width: 100%;
	   	 margin-bottom: 20px;
		}
		.media__content {
		    width: 100%;
		    padding-right: 25%;
		    >p{
		    	display: none;
		    }
		}
		.line:before {
			right: -33%;
			position: absolute;
			top: 24px;
		}
	}
	.media--small .media__content h2{
		font-size: 14px !important;
	}
	.link-box__header {
		font-size: 23px;
	}

	.contact-us__input-wrapper {
		width: 90%;
	}
	.main__heading {
		font-size: 25px;
	}
	.date {
		font-size: 14px !important;
	}
	.media__small--last {
		margin-bottom: 20px;
	}
	.central__box {
		width: 80%;
		left: 10%;
		h2, .category {
			font-size: 13px;
		}

	}
}