.search {
	width:calc-perc(200px, 1350px);
	height:100%;
	float:left;
}
.nav {
	width:calc-perc(950px, 1350px);
	margin-right:calc-perc(200px, 1350px);
	list-style-type: square;
	text-align: center;
   float: left;
}
.nav__item {
	display: inline-block;
	color: #444;
	font-weight: bold;
	padding: 0 15px;
	background-image: url(../../assets/img/bullet__square--gold.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 45px;
	line-height: 45px;
}
.nav__link{
	text-decoration: none;
	color:$text__color--darkGray;
}
.nav__link:hover {
	color:$text__color--gold;
}
