h1, h2, .media__content p {
	font-family: $text__family--KufiBold;
	color: $text__color--darkGray;
}
a {
	text-decoration:none;
	color:#444;
}

h2 {
	font-size: 1.5vw;
	@include breakpoint(mobile){
		font-size: 6vw;
	}
}
.category {
	font-family:$text__family--NashkRegular;
}