.border--bottom {
	border-bottom:1px solid $border__color--lightGray;
}
.margin-top {
	margin-top:25px;
}
.no-margin-top {
	margin-top:0;
}
.no-margin-bottom {
	margin-bottom:0;
}
.border-bottom--gray {
	border-bottom:1px solid $border__color--lightGray;
	padding-bottom: 28px;
}
.add-mobile-padding{
	@include breakpoint(mobile){
		padding:10%;
		padding-bottom:5%;	
	}
}
.mobile-padding--small {
	@include breakpoint(mobile){
		padding:5%;
		padding-bottom:0;
	}
}
.no-padding {
	@include breakpoint(mobile){
		padding:0;
	}
}
