.video-section {
	direction:ltr;
	width:100%;
	background: $color__primary--megaDarkGray;
	font-family: $text__family--KufiBold;
	color:$text__color--smoke;
	overflow:hidden;
	margin-bottom: 20px;
	.category {
		width: 100%;
		float: right;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	@include breakpoint(mobile){
		width: 90%;
		margin:5%;
		.section__heading {
			text-align: center;
		}
		.link--left {
			display: none;
		}
	}
}
.video-section__wrap {
	@include breakpoint(mobile){
		overflow: hidden;
		width: 5000%;
		float: left;
		position: relative;
		left: 0;
	}
}
.video-section__heading {
	text-align:right;
	color:$text__color--white;
	padding:20px 0;
}
.video-section__media {
	direction:rtl;
	float:right;
	width:25%;
	padding-right: 3%;
	@include breakpoint(mobile){
		width: 90vw !important;
		float: left;
		padding:0;
	}
	.icon {
		height: 50px;
		width: 50px;
		bottom: 1px;
		right: 1px;
	}
}
.video-section__media--first {
	width:50%;
	padding-right:0;
	.icon {
		height: 68px;
		width: 68px;
		bottom: 0px; 
		right:0;
	}
}
.video-section__item {
	float:right;
	width:100%;
	position:relative;
	img {
		width: 100%;
		float: right;
	}
}
.video-section__text {
	color:$text__color--smoke;
	float:right;
	margin-bottom: 25px;
}
.video-section__bullets{
	float: left;
	width: 100%;
	text-align: center;
	direction: ltr;
	display:none;
	@include breakpoint(mobile){
		display: block;
	}
}
.video-section__bullet {
	width: 16px;
	margin: 6px;
	height: 16px;
	@include borderRadius(50%);
	display: inline-block;
	background: $color__primary--darkGray;
	&.active {
		background: $color__primary--gold;
	}
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 16px !important;
    height: 16px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background:$color__primary--darkGray;
}
.owl-theme .owl-controls .owl-page.active span {
    background:$color__primary--gold;
}