html, body {
	width:100%;
	direction:rtl;
}
.page-wrapper {
	max-width:1350px;
	width:100%;
	margin:0 auto;
	overflow: hidden;
}
.section__wrapper {
	width:100%;
	padding:5% calc-perc(130px, 1350px) 0;
	overflow:hidden;
}
.section--dark {
	background: $color__primary--megaDarkGray;
	padding-top:0;

	.media {
		border-bottom:none;
	}
}
.section--no-padding-top {
	padding-top:0;
}
.section__heading {
	text-align:right;
	color:$text__color--white;
	padding:20px 0;
}
.section__left {
	width:47%;
	float:left;
}
.section__right {
	width:53%;
	float:right;
}
.section__left--padding {
	@extend .section__left;
	padding-right: 12%;
}
.footer {
	width:100%;
	float:left;
}
.footer__left, .footer__right {
	width:50%;
	float:left;
}
.footer__left {
	padding-right:1%;
}
.footer__right {
	padding-left:1%;
}

/*=============================*\
	Media queries
\*=============================*/

@media screen and (max-width: 1024px) {
	.section__left, .section__right, .page-wrapper, .section__wrapper {
		width: 100%;
		float: left;
		padding:0;
	}
}