html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: NotoKufiArabicBold;
  src: url(../../assets/font/NotoKufiArabic-Bold.ttf); }
@font-face {
  font-family: NotoNaskhArabicBold;
  src: url(../../assets/font/NotoNaskhArabic-Bold.ttf); }
@font-face {
  font-family: NotoSerif;
  src: url(../../assets/font/NotoSerif-Regular.ttf); }
@font-face {
  font-family: NotoNashkBold;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
@font-face {
  font-family: NotoNashkRegular;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
html, body {
  width: 100%;
  direction: rtl; }

.page-wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.section__wrapper {
  width: 100%;
  padding: 5% 9.62963% 0;
  overflow: hidden; }

.section--dark {
  background: #2b2b2b;
  padding-top: 0; }
  .section--dark .media {
    border-bottom: none; }

.section--no-padding-top {
  padding-top: 0; }

.section__heading {
  text-align: right;
  color: #fff;
  padding: 20px 0; }

.section__left, .section__left--padding {
  width: 47%;
  float: left; }

.section__right {
  width: 53%;
  float: right; }

.section__left--padding {
  padding-right: 12%; }

.footer {
  width: 100%;
  float: left; }

.footer__left, .footer__right {
  width: 50%;
  float: left; }

.footer__left {
  padding-right: 1%; }

.footer__right {
  padding-left: 1%; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .section__left, .section__left--padding, .section__right, .page-wrapper, .section__wrapper {
    width: 100%;
    float: left;
    padding: 0; } }
.brand-box {
  width: 100%;
  padding: 4%;
  text-align: center;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border: 1px solid; }

.brand-box--dark {
  background: #2b2b2b; }

.brand-box__text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5vw; }

.brand-box__item {
  margin-bottom: 30px; }
  .brand-box__item img {
    width: 100%; }

.brand-box--mobile {
  display: none; }

.link-box {
  width: 100%;
  padding: 8%;
  background: #dedede;
  padding-bottom: 40px; }
  .link-box .list__item {
    border-bottom: 1px solid #bebebe;
    text-align: right;
    padding: 13px 0 5px;
    color: #444;
    font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding-left: 54px;
    line-height: 25px; }
  .link-box ul {
    margin-top: 20px;
    margin-bottom: 40px; }

.list__item--last {
  border-bottom: none; }

.box {
  width: 100%;
  float: left;
  padding: 30px 0;
  border-bottom: 1px solid #dedede; }
  .box .author {
    color: #9e914c;
    padding: 20px 0;
    display: block;
    font-weight: bold;
    font-size: 1.2vw; }
  .box img {
    width: 100%; }

.box__text {
  float: left;
  margin-top: 30px;
  font-size: 1vw;
  color: #6a6a6a;
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif;
  width: 100%; }

.box__headline {
  color: #9e914c;
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 30px;
  text-decoration: underline; }

.box__links {
  margin-top: 20px;
  float: left;
  line-height: 24px; }

.box__link {
  color: #9e914c;
  display: inline;
  margin-left: 25px;
  margin-top: 30px; }

.mashasheri {
  width: 100%;
  padding: 5%;
  padding-bottom: 35px;
  text-align: center;
  background: #2b2b2b; }
  .mashasheri .media {
    border-bottom: none;
    padding-bottom: 0; }
  .mashasheri .media__content h2 {
    font-size: 23px;
    margin-top: 25px;
    color: #bdbdbd;
    text-align: right; }

.mashasheri__logo {
  margin-bottom: 10px; }

.mashasheri__item {
  width: 100%;
  text-align: right; }
  .mashasheri__item .media__img {
    float: right;
    width: 40%; }
  .mashasheri__item .media__content {
    float: right;
    width: 60%;
    padding-right: 10px; }
  .mashasheri__item .line:before, .mashasheri__item .line--right:before, .mashasheri__item .gallery .media__vertical .line:before, .gallery .media__vertical .mashasheri__item .line:before, .mashasheri__item .line--center:before {
    top: -25px;
    right: 20px; }

.mashasheri__item--big {
  width: 100%; }
  .mashasheri__item--big .media__img, .mashasheri__item--big .media__content {
    float: right;
    width: 100%; }
  .mashasheri__item--big .media__content {
    padding-right: 25%; }
  .mashasheri__item--big .line:before, .mashasheri__item--big .line--right:before, .mashasheri__item--big .gallery .media__vertical .line:before, .gallery .media__vertical .mashasheri__item--big .line:before, .mashasheri__item--big .line--center:before {
    top: 15px;
    right: -88px; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .brand-box {
    display: none; }

  .brand-box--mobile {
    display: block; }

  .link-box {
    width: 90%;
    margin: 5%; }

  .link-box__header, .contact-us__header {
    font-size: 24px; }

  .mashasheri {
    padding-bottom: 50px;
    overflow: hidden; }
    .mashasheri .link--centered {
      display: none; }
    .mashasheri .media {
      width: 100%;
      float: left;
      margin: 0; }
    .mashasheri .carousel__bullets {
      margin-top: 20px; }
    .mashasheri h2 {
      font-size: 20px; }
    .mashasheri .line:before, .mashasheri .line--right:before, .mashasheri .gallery .media__vertical .line:before, .gallery .media__vertical .mashasheri .line:before, .mashasheri .line--center:before {
      top: 9px !important; }

  .mashasheri__item {
    display: none; }

  .mashasheri__logo {
    width: 100%; }

  .box__text {
    padding: 5%;
    font-size: 20px; }

  .box__links {
    padding: 5%; }

  .comment__text, .comment__heading, .comment__author {
    padding: 1% 5%;
    font-size: 17px !important; } }
h1, h2, .media__content p {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif;
  color: #444; }

h3.brand-box__header, .brand-box__text, .brand-box__category {
  font-family: "NotoSerif", Helvetica, Arial, sans-serif;
  color: #444;
  text-align: center; }

.brand-box__text, .link-box__header {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif; }

.brand-box--dark .brand-box__text, .brand-box--dark .brand-box__header, .brand-box--dark .brand-box__category {
  color: #fff; }

.link-box__header {
  color: #444;
  font-size: 1.3vw; }

a {
  text-decoration: none;
  color: #444; }

h2 {
  font-size: 1.5vw; }

.link-box {
  text-align: center; }

.gallery, .carousel {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif;
  color: #bdbdbd; }

.category {
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 6vw; } }
.media {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
  direction: rtl;
  margin: 30px 0;
  padding-bottom: 30px;
  margin-top: 0; }

.media--last {
  border-bottom: none; }

.media__img {
  width: 100%;
  float: right; }
  .media__img img {
    width: 100%;
    float: right; }

.media__content {
  width: 100%;
  float: right; }

.media--no-border {
  border-bottom: none; }

.media__vertical .media__content {
  padding-right: 15%; }

.media--large.media__horizontal .media__img {
  width: 50%; }
.media--large.media__horizontal .media__content {
  width: 50%;
  padding-right: 4%; }
  .media--large.media__horizontal .media__content h2 {
    margin-bottom: 25px; }
  .media--large.media__horizontal .media__content p {
    line-height: 22px;
    margin-bottom: 20px;
    color: #6a6a6a;
    font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif;
    font-size: 20px; }

.media__horizontal .media__img {
  width: 35%; }
.media__horizontal .media__content {
  width: 65%;
  padding-right: 4%;
  text-align: right; }

.media--small {
  overflow: hidden;
  margin-bottom: 20px; }
  .media--small .media__item {
    width: 28%;
    float: right; }
    .media--small .media__item img {
      width: 100%;
      float: right; }
  .media--small .media__content {
    width: 65%;
    padding-right: 5%; }
    .media--small .media__content h2 {
      font-size: 18px; }

.add {
  width: 100%;
  background: #333; }
  .add img {
    width: 100%; }

.fullWidth__baner {
  width: 100%;
  float: left; }
  .fullWidth__baner img {
    width: 100%; }

.main__heading {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #444; }

.main__author {
  width: 264px;
  display: block;
  float: left;
  position: relative;
  left: calc((100% - 243px)/2);
  margin-bottom: 18px; }
  .main__author .date {
    color: #bdbdbd;
    padding-right: 5px;
    font-size: 0.8vw;
    float: left;
    border-right: 1px solid #bdbdbd;
    padding-top: 2px;
    font-family: "NotoSerif", Helvetica, Arial, sans-serif; }
  .main__author .author {
    color: #9e914c;
    padding: 0 8px;
    float: left; }
  .main__author .category {
    padding: 0;
    padding-left: 5px;
    color: #9e914c;
    float: left;
    border-left: 1px solid #bdbdbd;
    font-size: 16px; }
  .main__author .img__wrapper {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-left: 7px;
    overflow: hidden;
    top: -1px;
    position: relative; }
    .main__author .img__wrapper img {
      width: 100%; }
  .main__author p {
    float: left; }

.main__social-wrapper {
  float: left;
  margin-top: 0px;
  margin-bottom: 24px;
  text-align: center;
  width: 100%; }
  .main__social-wrapper img {
    float: none; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .media {
    margin: 8% 5%;
    width: 90%; }

  .media--small {
    padding: 2% 5%;
    margin-bottom: 0; }

  .media__horizontal .media__img {
    width: 42%; }
  .media__horizontal .media__content {
    width: 58%;
    padding-right: 4%;
    text-align: right; }

  .media--large.media__horizontal .media__img {
    width: 100%;
    margin-bottom: 20px; }
  .media--large.media__horizontal .media__content {
    width: 100%;
    padding-right: 20%; }
    .media--large.media__horizontal .media__content > p {
      display: none; }
  .media--large.media__horizontal .line:before, .media--large.media__horizontal .line--right:before, .media--large.media__horizontal .line--center:before {
    right: -24%;
    position: absolute;
    top: 24px; }

  .media--small .media__content h2 {
    font-size: 14px !important; }

  .link-box__header {
    font-size: 23px; }

  .contact-us__input-wrapper {
    width: 90%; }

  .main__heading {
    font-size: 25px; }

  .date {
    font-size: 14px !important; }

  .media__small--last {
    margin-bottom: 20px; } }
.link, .link--centered, .link--left {
  color: #9e914c;
  padding-bottom: 10px;
  border-bottom: 1px solid #9e914c;
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif; }

.link--centered {
  text-align: center; }

.link--left {
  float: left; }

.icon--mail {
  height: 50px;
  width: 100px;
  background-image: url(../../assets/img/letter-box.png);
  background-repeat: no-repeat;
  float: right;
  background-position: center; }

.button--mail {
  height: 40px;
  width: 90px;
  margin: 5px;
  background: #9e914c;
  color: #fff;
  text-align: center;
  float: left;
  line-height: 40px;
  font-size: 20px;
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif; }

.carousel {
  width: 100%;
  background: #2b2b2b;
  overflow: hidden;
  margin-bottom: 20px; }
  .carousel .category {
    width: 100%;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px; }

.carousel__wrap {
  overflow: hidden; }

.carousel__heading {
  text-align: right;
  color: #fff;
  padding: 20px 0; }

.carousel__media {
  float: right;
  width: 25%;
  padding-right: 3%; }

.carousel__media--first {
  width: 50%;
  padding-right: 0; }

.carousel__item {
  float: right;
  width: 100%; }
  .carousel__item img {
    width: 100%;
    float: right; }

.carousel__text {
  color: #bdbdbd;
  float: right;
  margin-bottom: 25px; }

.carousel__bullets {
  float: left;
  width: 100%;
  text-align: center;
  direction: ltr;
  display: none; }

.carousel__bullet {
  width: 16px;
  margin: 6px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background: #444; }
  .carousel__bullet.active {
    background: #9e914c; }

.gallery__item {
  width: 50%;
  float: right; }

.gallery {
  padding-bottom: 20px;
  overflow: hidden; }
  .gallery .media__horizontal {
    margin-right: 15%; }
    .gallery .media__horizontal .media__content {
      padding-right: 3%; }
  .gallery h2 {
    color: #bdbdbd;
    font-size: 22px; }
  .gallery .media__content {
    padding-right: 16%; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .carousel {
    width: 90%;
    margin: 5%; }
    .carousel .section__heading {
      text-align: center; }
    .carousel .link--left {
      display: none; }

  .carousel__wrap {
    overflow: hidden;
    width: 5000%;
    float: left;
    position: relative;
    left: 0; }

  .carousel__media {
    width: 90vw;
    float: left;
    padding: 0; }

  .carousel__bullets {
    display: block; }

  .gallery {
    padding: 5%; }
    .gallery .media {
      margin: 0;
      width: 100%; }
    .gallery .media__img {
      width: 100%; }
    .gallery .media__content {
      width: 100%; }
    .gallery .link--left {
      display: none; }

  .gallery__item {
    width: 90vw;
    float: left;
    margin-right: 5vw;
    max-height: 100vw; } }
.comments {
  text-align: right;
  color: #444;
  font-size: 1vw; }

.comment {
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9; }

.comment__heading {
  font-size: 1.3vw;
  margin-bottom: 13px; }

.comment__author {
  color: #9e914c;
  font-size: 1.1vw;
  margin-bottom: 13px; }

.post-comment .input__wrapper {
  width: 88%; }

.post-comment__button {
  line-height: 50px;
  text-align: center;
  width: 93px;
  float: right;
  margin-top: 20px;
  background: #9e914c;
  color: #fff; }

.comment__text {
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif; }

.name {
  padding: 20px; }

.contact-us {
  width: 100%;
  text-align: center;
  background: #2b2b2b;
  float: left;
  color: #fff; }

.contact-us__header {
  margin-top: 50px;
  font-size: 1.6vw;
  color: #fff; }

.contact-us__input-wrapper {
  width: 51%;
  margin: 20px auto;
  background: #fff;
  height: 50px;
  margin-bottom: 50px; }

.contact-us__input {
  width: calc(100% - 200px);
  outline: none;
  border: none;
  height: 50px;
  line-height: 50px;
  float: left;
  font-size: 20px; }

.contact-us__text {
  margin-top: 20px;
  font-size: 20px;
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif;
  width: 60%;
  margin-left: 15%;
  margin: 20px 20% 35px;
  line-height: 27px;
  color: #bdbdbd; }

.input-box {
  width: 100%;
  border: 1px solid #bdbdbd;
  height: 100px; }

.input__wrapper {
  width: 70%;
  float: left; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .contact-us__input-wrapper {
    width: 96%; }

  .contact-us__text {
    width: 96%;
    margin-left: 2%;
    font-size: 18px;
    margin-right: 2%; }

  .contact-us__header {
    font-size: 24px;
    margin-top: 33px; }

  .contact-us__input {
    font-size: 16px; }

  .post-comment {
    width: 100%;
    padding-left: 11%; }
    .post-comment .input__wrapper {
      width: 78%; }

  .comment__heading {
    margin-top: 10px; } }
.line:before, .line--right:before, .gallery .media__vertical .line:before, .line--center:before {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  top: 0px;
  width: 65px; }

.line, .line--right, .gallery .media__vertical .line, .line--center {
  position: relative; }

.line--center:before {
  right: calc(50% - 32.5px);
  top: 20px; }

.line--center {
  width: 100%;
  padding: 14px 0; }

.line--right:before, .gallery .media__vertical .line:before, .gallery .media__vertical .line--right:before, .gallery .media__vertical .line--center:before {
  right: -86px;
  top: 24px; }

.border--bottom {
  border-bottom: 1px solid #e9e9e9; }

.margin-top {
  margin-top: 25px; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .add-mobile-padding {
    padding: 10%;
    padding-bottom: 5%; }

  .mobile-padding--small {
    padding: 5%;
    padding-bottom: 0; }

  .no-padding {
    padding: 0; } }
.header {
  width: 100%;
  position: relative; }

.banner {
  width: 100%;
  float: left; }
  .banner img {
    float: left;
    width: 100%; }

.logo__wrapper {
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  float: left; }

.logo {
  float: left;
  width: 100%;
  text-align: center; }
  .logo img {
    position: relative;
    top: 7px; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .logo {
    height: 50px;
    width: calc(100% - 100px); }
    .logo img {
      position: relative;
      top: 7px;
      height: 60%;
      top: 20%; } }
.search {
  width: 12.59259%;
  height: 100%;
  float: left;
  display: none;
  margin-right: 2.22%;
  margin-top: 10px;
  border-right: 1px solid #bebebe; }
  .search img {
    height: 23px;
    margin-right: 20px; }

.search--desk {
  display: block; }

.nav {
  width: 70.37037%;
  margin-right: 14.81481%;
  list-style-type: square;
  text-align: center;
  float: left; }

.nav__item {
  display: inline-block;
  color: #444;
  font-weight: bold;
  padding: 0 15px;
  background-image: url(../../assets/img/bullet__square--gold.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 55px;
  line-height: 55px; }

.nav__item--static {
  display: none; }

.nav__link {
  text-decoration: none;
  color: #444; }

.nav__link:hover {
  color: #9e914c; }

.menu__icon {
  display: none;
  float: left;
  height: 50px;
  border: 1px solid #e9e9e9;
  width: 50px;
  background-image: url(../../assets/img/hamburger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%; }
  .menu__icon.opened {
    background-image: url(../../assets/img/x-icon.png); }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .fullWidth__baner img {
    width: 200%;
    left: 50%;
    position: relative; }

  .logo__wrapper {
    height: 50px; }

  .search {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0;
    text-align: center;
    border: 1px solid #e9e9e9; }
    .search img {
      height: 50%;
      margin: 0;
      margin-top: 25%; }

  .search--desk {
    display: none; }

  .nav {
    width: 100%;
    margin: 0;
    max-height: 0;
    -webkit-transition: all 700ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 700ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 700ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    overflow: hidden; }
    .nav.opened {
      height: auto;
      max-height: 350px; }

  .nav__link {
    font-size: 16px;
    font-weight: normal; }

  .nav__item {
    width: 49%;
    text-align: right;
    background-image: none;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    width: 50%;
    padding: 0;
    float: right;
    padding-right: 16px;
    font-size: 4vw; }

  .nav__item--static {
    background: #e9e9e9;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-size: 3.6vw;
    float: left;
    width: 50%;
    display: block;
    font-size: 16px;
    font-weight: normal; }

  .menu__icon {
    display: block; } }
.footer-media {
  float: left;
  width: 33.33%;
  max-height: 170px;
  margin-bottom: 24px; }

.footer-media__item {
  margin-bottom: 12px; }
  .footer-media__item img {
    width: 100%; }

.footer__left {
  border-right: 1px solid #bebebe;
  position: relative;
  margin-top: 60px; }

.footer__right {
  position: relative;
  margin-top: 60px; }

.footer__left .footer-media {
  padding-right: 3%; }

.footer__right .footer-media {
  padding-left: 3%; }

.footer__heading {
  width: 100%;
  text-align: center;
  font-size: 1.5vw; }

.footer__heading--small {
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  top: -35px;
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif; }

.footer-media__heading, .footer-media__text {
  text-align: center;
  font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif; }

.footer-media__text {
  margin-top: 3px;
  color: #6a6a6a;
  height: 20px; }

.brand {
  font-family: "NotoSerif", Helvetica, Arial, sans-serif; }

.footer__left .footer-articles {
  margin-right: 3%; }

.footer-articles, .footer-tags {
  width: 100%;
  float: right;
  margin-top: 40px; }

.footer-tags {
  margin-bottom: 30px; }

.footer-articles__item {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  margin-left: 38px; }

.footer-articles__item--last a {
  color: #9e914c; }
.footer-articles__item--last:before {
  display: none; }

.footer-articles__item:before {
  content: "-";
  position: absolute;
  left: -22px; }

.footer-tags__item {
  display: inline-block;
  padding: 10px;
  border: 1px solid #9e914c;
  font-family: "NotoNashkBold", Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-bottom: 10px; }

.footer-tags__item--first {
  border: none; }

.footer-tags__item--last {
  border: none; }
  .footer-tags__item--last a {
    color: #9e914c; }

.category {
  padding: 15px 0;
  color: #9e914c;
  font-size: 20px;
  font-weight: bold; }

.footer--end {
  padding-top: 20px;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 100px;
  border-top: 1px solid #e9e9e9; }
  .footer--end .social {
    float: left; }
  .footer--end .footer__logo {
    float: right; }
    .footer--end .footer__logo img {
      width: 170px; }
  .footer--end .copyright {
    position: absolute;
    width: 500px;
    left: calc((100% - 500px) / 2);
    text-align: center;
    top: 34px; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .footer__heading {
    font-size: 24px;
    margin-top: 20px; }

  .footer__left, .footer__right {
    width: 100%;
    float: left;
    border-right: none;
    padding: 0; }

  .social {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px; }

  .footer {
    padding: 0 5%;
    width: 100%; }

  .footer-articles {
    margin-top: 0; }

  .copyright {
    display: none; }

  .footer__logo {
    width: 100%;
    text-align: center;
    position: relative;
    top: -120px; } }

/*# sourceMappingURL=main.css.map */
