html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: NotoKufiArabicBold;
  src: url(../../assets/font/NotoKufiArabic-Bold.ttf); }
@font-face {
  font-family: NotoNaskhArabicBold;
  src: url(../../assets/font/NotoNaskhArabic-Bold.ttf); }
@font-face {
  font-family: NotoSerif;
  src: url(../../assets/font/NotoSerif-Regular.ttf); }
@font-face {
  font-family: NotoNashkBold;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
@font-face {
  font-family: NotoNashkRegular;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
html, body {
  width: 100%; }

.page-wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.section__wrapper {
  width: 100%;
  padding: 0 12%;
  overflow: hidden; }

.section__left, .section__left--padding, .section__right {
  border: 1px solid indianred; }

.section__left, .section__left--padding {
  width: 47%;
  float: left;
  background: lightgray; }

.section__right {
  width: 53%;
  float: right; }

.section__left--padding {
  padding-right: 8.88889%; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .section__left, .section__left--padding, .section__right, .page-wrapper, .section__wrapper {
    width: 100%;
    float: left;
    padding: 0; } }
.header {
  width: 100%; }

.banner {
  width: 100%;
  float: left; }
  .banner img {
    float: left;
    width: 100%; }

.logo__wrapper {
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  float: left; }

.logo {
  float: left;
  width: 100%;
  text-align: center; }
  .logo img {
    position: relative;
    top: 7px; }

h1, h2, h3, .media__content p {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif;
  color: #444; }

.block {
  width: 100%;
  color: cyan;
  border: 1px solid wheat; }

.media {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
  direction: rtl;
  margin: 20px 0;
  padding-bottom: 20px;
  margin-top: 0; }

.media--last {
  border-bottom: none; }

.media__img {
  width: 100%;
  float: right; }
  .media__img img {
    width: 100%;
    float: right; }

.media__content {
  width: 100%;
  float: right; }

/* ============== *\
  	Media Vertical
\* ============== */
.media--large .media__content {
  padding-right: 15%; }

.media--medium {
  text-align: center; }

.media--tiny {
  width: 33.33%;
  text-align: center;
  float: right; }

/* ============== *\
  	Media Horizontal
\* ============== */
.media--large.media__horizontal .media__img {
  width: 50%; }
.media--large.media__horizontal .media__content {
  width: 50%;
  padding-right: 4%; }

.media--medium.media__horizontal .media__img {
  width: 35%; }
.media--medium.media__horizontal .media__content {
  width: 65%;
  padding-right: 4%;
  text-align: right; }

.add {
  width: 100%;
  padding: 5%;
  background: #333; }
  .add img {
    width: 100%; }

.fullWidth__baner {
  width: 100%;
  float: left; }
  .fullWidth__baner img {
    width: 100%; }

.category {
  padding: 15px 0;
  color: #9e914c; }

.search {
  width: 14.81481%;
  height: 100%;
  float: left; }

.nav {
  width: 70.37037%;
  margin-right: 14.81481%;
  list-style-type: square;
  text-align: center;
  float: left; }

.nav__item {
  display: inline-block;
  color: #444;
  font-weight: bold;
  padding: 0 15px;
  background-image: url(../../assets/img/bullet__square--gold.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
  line-height: 45px; }

.nav__link {
  text-decoration: none;
  color: #444; }

.nav__link:hover {
  color: #9e914c; }

.line:before, .line--right:before, .line--center:before {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  top: 0px;
  width: 65px; }

.line, .line--right, .line--center {
  position: relative; }

.line--center:before {
  right: calc(50% - 32.5px);
  top: 20px; }

.line--center {
  width: 100%;
  padding: 14px 0; }

.line--right:before {
  right: -86px;
  top: 24px; }

/*# sourceMappingURL=main.css.map */
