html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: NotoKufiArabicBold;
  src: url(../../assets/font/NotoKufiArabic-Bold.ttf); }
@font-face {
  font-family: NotoNaskhArabicBold;
  src: url(../../assets/font/NotoNaskhArabic-Bold.ttf); }
@font-face {
  font-family: NotoSerif;
  src: url(../../assets/font/NotoSerif-Regular.ttf); }
@font-face {
  font-family: NotoNashkBold;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
@font-face {
  font-family: NotoNashkRegular;
  src: url(../../assets/font/NotoNaskhArabic-Regular.ttf); }
html, body {
  width: 100%;
  direction: rtl; }

.page-wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.section__wrapper {
  width: 100%;
  padding: 0 9.62963%;
  overflow: hidden; }

.section--dark {
  background: #444; }
  .section--dark .media {
    border-bottom: none; }
  .section--dark h2 {
    color: #bdbdbd; }

.section__heading {
  text-align: right;
  color: #fff;
  padding: 20px 0; }

.section__left, .section__left--padding, .section__right {
  border: 1px solid indianred; }

.section__left, .section__left--padding {
  width: 47%;
  float: left; }

.section__right {
  width: 53%;
  float: right; }

.section__left--padding {
  padding-right: 12%; }

.footer {
  width: 100%;
  float: left; }

.footer__left, .footer__right {
  width: 50%;
  float: left; }

.footer__left {
  padding-right: 1%; }

.footer__right {
  padding-left: 1%; }

/*=============================*\
	Media queries
\*=============================*/
@media screen and (max-width: 1024px) {
  .section__left, .section__left--padding, .section__right, .page-wrapper, .section__wrapper {
    width: 100%;
    float: left;
    padding: 0; } }
.header {
  width: 100%; }

.banner {
  width: 100%;
  float: left; }
  .banner img {
    float: left;
    width: 100%; }

.logo__wrapper {
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  float: left; }

.logo {
  float: left;
  width: 100%;
  text-align: center; }
  .logo img {
    position: relative;
    top: 7px; }

h1, h2, .media__content p {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif;
  color: #444; }

h3.brand-box__header, .brand-box__text, .brand-box__category {
  font-family: "NotoSerif", Helvetica, Arial, sans-serif;
  color: #444;
  text-align: center; }

.brand-box__text, .link-box__header {
  font-family: "NotoKufiArabicBold", Helvetica, Arial, sans-serif; }

.brand-box--dark .brand-box__text, .brand-box--dark .brand-box__header, .brand-box--dark .brand-box__category {
  color: #fff; }

.link-box__header {
  color: #444;
  font-size: 1.3vw; }

a {
  text-decoration: none;
  color: #444; }

h2 {
  font-size: 1.5vw; }

.link-box {
  text-align: center; }

.block {
  width: 100%;
  color: cyan;
  border: 1px solid wheat; }

.media {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
  direction: rtl;
  margin: 20px 0;
  padding-bottom: 20px;
  margin-top: 0; }

.media--last {
  border-bottom: none; }

.media__img {
  width: 100%;
  float: right; }
  .media__img img {
    width: 100%;
    float: right; }

.media__content {
  width: 100%;
  float: right; }

.media__vertical .media__content {
  padding-right: 15%; }

.media__horizontal .media__img {
  width: 50%; }
.media__horizontal .media__content {
  width: 50%;
  padding-right: 4%; }
  .media__horizontal .media__content h2 {
    margin-bottom: 25px; }
  .media__horizontal .media__content p {
    line-height: 22px;
    margin-bottom: 20px;
    color: #6a6a6a;
    font-family: "NotoNashkRegular", Helvetica, Arial, sans-serif;
    font-size: 20px; }

.media__horizontal .media__img {
  width: 35%; }
.media__horizontal .media__content {
  width: 65%;
  padding-right: 4%;
  text-align: right; }

.add {
  width: 100%;
  padding: 5%;
  background: #333; }
  .add img {
    width: 100%; }

.fullWidth__baner {
  width: 100%;
  float: left; }
  .fullWidth__baner img {
    width: 100%; }

.brand-box {
  width: 100%;
  padding: 4%; }

.brand-box--dark {
  background: #2b2b2b; }

.brand-box__text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5vw; }

.brand-box__item {
  margin-bottom: 30px; }
  .brand-box__item img {
    width: 100%; }

.link-box {
  width: 100%;
  padding: 4%;
  background: #dedede; }
  .link-box .list__item {
    border-bottom: 1px solid #bebebe;
    text-align: right;
    padding: 13px 0 5px;
    font-size: 17px;
    color: #6a6a6a;
    height: 42px; }

.list__item--last {
  border-bottom: none; }

.contact-us {
  width: 100%;
  text-align: center;
  background: #2b2b2b;
  float: left;
  color: #fff; }

.contact-us__header {
  margin-top: 30px;
  font-size: 1.6vw;
  color: #fff; }

.contact-us__input-wrapper {
  width: 44%;
  margin: 20px auto;
  background: #fff;
  height: 50px;
  margin-bottom: 50px; }

.footer-media {
  float: left;
  width: 33.33%; }

.footer-media__item img {
  width: 100%; }

.footer__left .footer-media {
  padding-right: 3%; }

.footer__right .footer-media {
  padding-left: 3%; }

.footer__heading {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  margin-top: 60px; }

.footer__heading--small {
  text-align: center;
  margin-bottom: 20px; }

.footer-media__heading, .footer-media__text {
  text-align: center; }

.footer-articles, .footer-tags {
  width: 100%;
  float: right;
  margin-top: 40px; }

.footer-tags {
  margin-bottom: 30px; }

.footer-articles__item {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 20px;
  position: relative; }

.footer-articles__item:before {
  content: "-";
  position: absolute;
  left: -12px; }

.footer-tags__item {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #9e914c;
  margin-left: 20px; }

.category {
  padding: 15px 0;
  color: #9e914c; }

.footer--end {
  padding-top: 20px;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 100px;
  border-top: 1px solid #e9e9e9; }
  .footer--end .social {
    float: left; }
  .footer--end .footer__logo {
    float: right; }
  .footer--end .copyright {
    position: absolute;
    width: 500px;
    left: calc((100% - 500px) / 2);
    text-align: center;
    top: 34px; }

/*=============================*\
	Media queries
\*=============================*/
.link, .link--centered {
  color: #9e914c;
  padding-bottom: 10px;
  border-bottom: 1px solid #9e914c; }

.link--centered {
  text-align: center; }

.carousel {
  width: 100%;
  background: #444;
  overflow: hidden; }
  .carousel .category {
    width: 100%;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px; }

.carousel__heading {
  text-align: right;
  color: #fff;
  padding: 20px 0; }

.carousel__media {
  float: right;
  width: 25%;
  padding-right: 2.5%; }

.carousel__media--first {
  width: 50%;
  padding-right: 0; }

.carousel__item {
  float: right;
  width: 100%; }
  .carousel__item img {
    width: 100%;
    float: right; }

.carousel__text {
  color: #fff;
  float: right;
  margin-bottom: 25px; }

.gallery__item {
  width: 50%;
  float: right; }

.search {
  width: 14.81481%;
  height: 100%;
  float: left; }

.nav {
  width: 70.37037%;
  margin-right: 14.81481%;
  list-style-type: square;
  text-align: center;
  float: left; }

.nav__item {
  display: inline-block;
  color: #444;
  font-weight: bold;
  padding: 0 15px;
  background-image: url(../../assets/img/bullet__square--gold.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
  line-height: 45px; }

.nav__link {
  text-decoration: none;
  color: #444; }

.nav__link:hover {
  color: #9e914c; }

.line:before, .line--right:before, .line--center:before {
  background: none repeat scroll 0 0 #9e914c;
  content: "";
  height: 3px;
  right: 0;
  position: absolute;
  top: 0px;
  width: 65px; }

.line, .line--right, .line--center {
  position: relative; }

.line--center:before {
  right: calc(50% - 32.5px);
  top: 20px; }

.line--center {
  width: 100%;
  padding: 14px 0; }

.line--right:before {
  right: -86px;
  top: 24px; }

.border--bottom {
  border-bottom: 1px solid #e9e9e9; }

/*# sourceMappingURL=main.css.map */
