@mixin borderRadius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin transitionFor($type){
	-webkit-transition: $type;
	-o-transition: $type;
	transition: $type;
}
@mixin line($color:$color__primary--gold, $width:65px, $top:0, $right:0, $float:right){
	width:$width;
	height:3px;
	background: $color;
	float:$float;
	position: absolute;
	top:$top;
	right:$right;
}