// ============== 
// Footer Media
.footer {
	@include breakpoint(mobile){
		padding: 0 5%;
		width: 100%;
	}
}
.footer-media {
	float:left;
	width:33.33%;
	max-height: 170px;
	margin-bottom: 24px;
}
.footer-media__item {
	margin-bottom: 12px;
	img {
		width: 100%;
	}
}
.footer__left {
	border-right:1px solid $border__color--darkGray;
	position:relative;
	margin-top: 60px;
	@include breakpoint(mobile){
		width: 100%;
		float: left;
		border-right: none;
		padding:0;
	}
}
.footer__right {
	position:relative;
	margin-top: 60px;
	@include breakpoint(mobile){
		width: 100%;
		float: left;
		border-right: none;
		padding:0;
	}
}
.footer__left .footer-media {
	padding-right:3%;
}
.footer__right .footer-media {
	padding-left:3%;
}
.footer__heading {
	width:100%;
	text-align:center;
	font-size:1.5vw;
	@include breakpoint(mobile){
		font-size: 16px;
		margin-top: 46px;
	}
}
.footer__heading--small {
	text-align: center;
	margin-bottom: 20px;
	position: absolute;
	width: 100%;
	color:$text__color--darkGray;
	top: -35px;
	font-family:$text__family--KufiBold;
	@include breakpoint(mobile){
		margin-bottom: 25px;
		font-size: 13px;
	}
}
.footer-media__heading, .footer-media__text {
	text-align:center;
	font-family:$text__family--NashkRegular;
}
.footer-media__text {
	margin-top: 3px;
	color:$text__color--lightGray;
	height: 20px;
}
.brand {
	font-family:$text__family--Serif;
}

// ============== 
// Footer Articles & Tags
.footer-articles {
	@include breakpoint(mobile){
		margin-top:0;
	}
}
.footer__left .footer-articles {
	margin-right: 3%;
}
.footer-articles, .footer-tags {
	width: 100%;
	float: right;
	margin-top: 40px;
}
.footer-tags {
	margin-bottom:30px;
	@include breakpoint(mobile){
		margin-bottom: 0px;
	}
}
.footer-articles__item {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	margin-left: 38px;
	@include breakpoint(mobile){
		margin-bottom: 6px;
		margin-left: 26px;
		a {
			font-size: 14px;
		}
		&:before {
		    content: "-";
		    position: absolute;
		    left: -17px;
		}
	}
}
.footer-articles__item--last {
	a {
		color:$text__color--gold;
	}
	&:before {
		display: none;
	}
}
.footer-articles__item:before {
	content: "-";
	position: absolute;
	left: -22px;
}
.footer-tags__item {
	display:inline-block;
	padding:8px 10px;
	border:1px solid $color__primary--gold;
	font-family:$text__family--NashkBold;
	margin-left:10px;
	margin-bottom: 10px;
}
.footer-tags__item--first {
	border:none;
	@include breakpoint(mobile){
		border: none;
		padding-top:17px;
		width: 100%;
		text-align: center;
		font-weight: bold;
		border-top:1px solid $border__color--lightGray;
	}
}
.footer-tags__item--last {
	border:none;
	a {
		color:$text__color--gold;
	}
}
.category {
	padding: 15px 0;
	color:$text__color--gold;
	font-size: 20px;
	font-weight: bold;
}

// ============== 
// Footer Copyright

.footer--end {
	padding-top: 20px;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom:100px;
	border-top:1px solid $border__color--lightGray;
	.social, {
		float: left;
		img {
			margin-right: 10px;
		}
	}
	.footer__logo {
		float: right;
		img {
			width: 170px;

		}
		@include breakpoint(mobile){
			width: 100%;
			text-align: center;
			position: relative;
			top: -120px;
		}
	}
	.copyright {
		position:absolute;
		width: 500px;
		left: calc((100% - 500px) / 2);
		text-align: center;
		top: 25px;
		li {
			display: inline-block;
			margin: 0 26px;
			position: relative;
			color:$text__color--darkGray;
			font-family: $text__family--NashkRegular;
			&:before{
				content: "-";
				position: absolute;
				height: 10px;
				width: 10px;
				left: -32px;
				top: 0;

			}
		}
		li.last:before {
			display: none;
		}
		@include breakpoint(mobile){
			display: none;
			li {
				display: inline-block;
				margin: 10px;
				position:relative;

			}
		}
	}
	@include breakpoint(mobile){
		margin-top: 0;
	}
}

.social {
	@include breakpoint(mobile){
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 100px;
	}
}