.nav {
	width:calc-perc(950px, 1350px);
	margin-right:calc-perc(200px, 1350px);
	list-style-type: square;
	text-align: center;
   float: left;
   a {
   	font-family: $text__family--NashkBold;
   }
   @include breakpoint(mobile){
   	width: 100%;
   	margin:0;
   	max-height: 0;
   	@include transitionFor(all 700ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
   	overflow: hidden;
   	&.opened {
   		height: auto;
   		max-height: 350px;
   	}
   }
}
.nav__item {
	display: inline-block;
	color: #444;
	font-weight: bold;
	padding: 0 15px;
	background-image: url(../../assets/img/bullet__square--gold.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 55px;
	line-height: 55px;
	@include breakpoint(mobile){
		width: 49%;
		text-align: right;
		background-image: none;
		border-right:1px solid $color__primary--lightgray;
		border-bottom:1px solid $color__primary--lightgray;
		width: 50%;
		padding: 0;
		float: right;
		padding-right: 16px;
		font-size: 4vw;
	}
}
.nav__item--static {
	display:none;
	@include breakpoint(mobile){
		background: $color__primary--lightgray;
		height:  55px;
		line-height: 55px;
		text-align:center;
		border-right:1px solid $color__primary--gray;
		border-bottom:1px solid $color__primary--gray;
		font-size: 3.6vw;
		float: left;
		width: 50%;
		display: block;
		font-size: 16px;
		font-weight: normal;
	}
}
.nav__link{
	text-decoration: none;
	color:$text__color--darkGray;
	@include breakpoint(mobile){
		font-size: 16px;
		font-weight: normal;
	}
}
.nav__link:hover {
	color:$text__color--gold;
}
.menu__icon {
	display: none;
	float: left;
	height: 50px;
	border:1px solid $color__primary--lightgray;
	width: 50px;
	background-image: url(../../assets/img/hamburger.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	&.opened{
		background-image: url(../../assets/img/x-icon.png);
	}
	@include breakpoint(mobile){
		display: block;
	}
}

.logo__wrapper {
	@include breakpoint(mobile){
		height: 50px;
	}
}